.wrapper {
    background-color: #F7F7F7FF;
    
    .form-content {
        margin-left: 4%;
        margin-right: 4%;
    }

    .name {
        margin-top: 4%;
    }

    .join-entra {
        line-height: 50px;
        font-size: 20px;
    }

    .content {
        background-color: #fff;
        margin-left: 4%;
        margin-right: 4%;
        border-radius: 2.5%;
        padding: 1%;
    }
}